.work {
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}

.project {
  display: flex;
}

.project img {
  width: 400px;
}

.project-right {
  padding: 15px;
  color: #606163;
}

.project-right h4,
h2 {
  margin: 2px;
  font-family: 'Glegoo', serif;
}

.project-right small {
  color: #a8abaf;
}

.project-right a {
  font-size: 14px;
  color: #05f5e9;
}

.project-right a:hover {
  color: #e335af;
}
