.header {
  display: flex;
  background-color: #222;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.header-left {
  flex: 1;
  margin-left: 20px;
}

.header-right {
  margin-right: 20px;
}

.nav {
  list-style: none;
  display: inline-block;
  margin-top: 18.72px;
}

.nav li {
  float: right;
  margin-right: 10px;
  font-size: 14px;
}

#about:hover {
  color: #e335af;
}

#work:hover {
  color: #e3ce43;
}

#blog:hover {
  color: #05f5e9;
}
